configuration {
  font: "JetBrainsMono Nerd Font 11";
  show-icons: true;
  hide-scrollbar: true;
	theme: "nord";

  display-ssh     : "";
  display-run     : "";
  display-drun    : "";
  display-window  : "";
  display-combi   : "";
}

/* vim:ft=css
