configuration {
  font: "JetBrainsMono Nerd Font 11";
  show-icons: true;
  hide-scrollbar: true;

  display-ssh     : "";
  display-run     : "";
  display-drun    : "";
  display-window  : "";
  display-combi   : "";
}

@theme "nord"

/* vim:ft=css
